<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码农社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/community.css">
    <script src="/static/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navgation :: nav}"></div>
<div class="jumbotron" style="margin:100px;">
    <h1>出错啦！！！</h1>
    <p>服务器开了小差，请稍候再试~~</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
</div>
</body>
</html>