<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码农社区 - 问题</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/community.css">
    <script src="/static/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navgation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span th:text="${question.title}"></span></h3>
            <span class="text-des">
                作者：<span th:text="${question.user.name}"></span> |
                发布时间：<span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span> |
                阅读数：<span th:text="${question.viewCount}"></span>
            </span>
            <hr  class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.details}"></div>
            <hr  class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
            <br/>
            <a th:href="@{'/publish/' + ${question.id}}" class="community-menu" th:if="${session.user !=null && session.user.id == question.creator}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
            </a>

            <hr>
            <h3><span th:text="评论"></span></h3>
            <div class="media" th:each="comment : ${comments}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="https://avatars1.githubusercontent.com/u/56419382?v=4">
                    </a>
                </div>
                <div class="media-body">
                    <p th:text="${comment.content}"></p>
                    <span class="text-des"><span th:text="${#dates.format(question.getGmtCreate(), 'yyyy-MM-dd HH:mm')}"></span></span>
                    <span th:if="${session.user != null}"><a th:href="@{'/delComment/' + ${comment.parentId}}">删除</a></span>
                </div>
            </div>
            <hr>
            <form action="/comment" method="post" th:if="${session.user != null}">
                <input type="hidden" name="commentator" th:value="${session.user.id}">
                <input type="hidden" name="question_id" th:value="${question.id}">
                <div class="form-group">
                    <label for="content" style="font-size: 20px;">发表评论：</label>
                    <textarea class="form-control" rows="10" id="content" name="content" placeholder="评论一下.."></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-submit"> 确定 </button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>发起人</h3>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                       <h6 class="media-heading" th:text="${question.user.name}"></h6>
                    </div>
                </div>
            </div>
            <hr  class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>相关话题</h3>
            </div>
        </div>
    </div>
</div>

</body>
</html>